<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecurityEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SecurityEx.Properties.Settings>
            <setting name="PasswordCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Hydrogen</string>
                        <string>Helium</string>
                        <string>Lithium</string>
                        <string>Beryllium</string>
                        <string>Boron</string>
                        <string>Carbon</string>
                        <string>Nitrogen</string>
                        <string>Oxygen</string>
                        <string>Fluorine</string>
                        <string>Neon</string>
                        <string>Sodium</string>
                        <string>Magnesium</string>
                        <string>Aluminium</string>
                        <string>Silicon</string>
                        <string>Phosphorus</string>
                        <string>Sulfur</string>
                        <string>Chlorine</string>
                        <string>Argon</string>
                        <string>Potassium</string>
                        <string>Calcium</string>
                        <string>Scandium</string>
                        <string>Titanium</string>
                        <string>Vanadium</string>
                        <string>Chromium</string>
                        <string>Manganese</string>
                        <string>Iron</string>
                        <string>Cobalt</string>
                        <string>Nickel</string>
                        <string>Copper</string>
                        <string>Zinc</string>
                        <string>Gallium</string>
                        <string>Germanium</string>
                        <string>Arsenic</string>
                        <string>Selenium</string>
                        <string>Bromine</string>
                        <string>Krypton</string>
                        <string>Rubidium</string>
                        <string>Strontium</string>
                        <string>Yttrium</string>
                        <string>Zirconium</string>
                        <string>Niobium</string>
                        <string>Molybdenum</string>
                        <string>Technetium</string>
                        <string>Ruthenium</string>
                        <string>Rhodium</string>
                        <string>Palladium</string>
                        <string>Silver</string>
                        <string>Cadmium</string>
                        <string>Indium</string>
                        <string>Tin</string>
                        <string>Antimony</string>
                        <string>Tellurium</string>
                        <string>Iodine</string>
                        <string>Xenon</string>
                        <string>Caesium</string>
                        <string>Barium</string>
                        <string>Lanthanum</string>
                        <string>Cerium</string>
                        <string>Praseodymium</string>
                        <string>Neodymium</string>
                        <string>Promethium</string>
                        <string>Samarium</string>
                        <string>Europium</string>
                        <string>Gadolinium</string>
                        <string>Terbium</string>
                        <string>Dysprosium</string>
                        <string>Holmium</string>
                        <string>Erbium</string>
                        <string>Thulium</string>
                        <string>Ytterbium</string>
                        <string>Lutetium</string>
                        <string>Hafnium</string>
                        <string>Tantalum</string>
                        <string>Tungsten</string>
                        <string>Rhenium</string>
                        <string>Osmium</string>
                        <string>Iridium</string>
                        <string>Platinum</string>
                        <string>Gold</string>
                        <string>Mercury</string>
                        <string>Thallium</string>
                        <string>Lead</string>
                        <string>Bismuth</string>
                        <string>Polonium</string>
                        <string>Astatine</string>
                        <string>Radon</string>
                        <string>Francium</string>
                        <string>Radium</string>
                        <string>Actinium</string>
                        <string>Thorium</string>
                        <string>Protactinium</string>
                        <string>Uranium</string>
                        <string>Neptunium</string>
                        <string>Plutonium</string>
                        <string>Americium</string>
                        <string>Curium</string>
                        <string>Berkelium</string>
                        <string>Californium</string>
                        <string>Einsteinium</string>
                        <string>Fermium</string>
                        <string>Mendelevium</string>
                        <string>Nobelium</string>
                        <string>Lawrencium</string>
                        <string>Rutherfordium</string>
                        <string>Dubnium</string>
                        <string>Seaborgium</string>
                        <string>Bohrium</string>
                        <string>Hassium</string>
                        <string>Meitnerium</string>
                        <string>Darmstadtium</string>
                        <string>Roentgenium</string>
                        <string>Copernicium</string>
                        <string>Ununtrium</string>
                        <string>Flerovium</string>
                        <string>Ununpentium</string>
                        <string>Livermorium</string>
                        <string>Ununseptium</string>
                        <string>Ununoctium</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SecurityEx.Properties.Settings>
    </applicationSettings>
</configuration>